
@{
    ViewData["Title"] = "about us";
}

<h1>About us</h1>
<div class="card-container">
    <div class="card">
        <div class="front">
            <h1>Meet us!</h1>
        </div>
        <div class="back">
            <h1>Meet us!</h1>
            <p>Hello! We are Gina and Mey, the two owners of this family ran business. We two very passionate people who want to share a little bit of our culture through the thing we know best!</p>
        </div>
    </div>


</div>

