
@{
    ViewData["Title"] = "about us";
}

<h1 style="text-align:center;">About us</h1></br>
<div class="flip-cards">
    <div class="card-container">
        <div class="card">
            <div class="front">

            </div>
            <div class="back">
                <h1>Meet us!</h1>
                <p>Hello! We are Gina and Mey, the two owners of this family ran business. We two very passionate people who want to share a little bit of our culture through the thing we know best!</p>
            </div>
        </div>


    </div>
    <div class="card-container">
        <div class="card">
            <div class="front2">
            </div>
            <div class="back">
                <h1>Our aim</h1>
                <p>Hello! We are Gina and Mey, the two owners of this family ran business. We two very passionate people who want to share a little bit of our culture through the thing we know best!</p>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front3">
            </div>
            <div class="back">
                <h1>Our journey</h1>
                <p>Hello! We are Gina and Mey, the two owners of this family ran business. We two very passionate people who want to share a little bit of our culture through the thing we know best!</p>
            </div>
        </div>
    </div>

</div>
</br>

<div class="contactcontainer" >
    <div class="contact-box">

        <h2>contact us here!</h2>
        <input type="text" class="field" placeholder="your name" />
        <input type="email" class="field" placeholder="your email" />
        <input type="text" class="field" placeholder="your phone number" />
        <textarea class="field area" placeholder="message"></textarea>
        <button class="btn">submit</button>

    </div>
</div>


