
@{
    ViewData["Title"] = "about us";
}

<h1>About us</h1>
<div class="card-container">
    <div class="card">
        <div class="front"></div>
        <div class="back">
            <h1>back of card</h1>
            <p>more info</p>
        </div>
    </div>


</div>

