
@{
    ViewData["Title"] = "about us";
}
<body style="background-color:#f1e4bcff;">
<h1 style="text-align:center; font-family: Impact,Arial;">Learn a little about us...</h1><br/>
<div class="flip-cards">
    <div class="card-container">
        <div class="card">
            <div class="front">

            </div>
            <div class="back">
                <h1>Meet us!</h1>
                <p>Hello! We are Gina and Mey, the two owners of this family ran business. We two very passionate people who want to share a little bit of our culture through the thing we know best!</p>
            </div>
        </div>


    </div>
    <div class="card-container">
        <div class="card">
            <div class="front2">
            </div>
            <div class="back">
                <h1>Our aim</h1>
                <p>Hello! We are Gina and Mey, the two owners of this family ran business. We two very passionate people who want to share a little bit of our culture through the thing we know best!</p>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="front3">
            </div>
            <div class="back">
                <h1>Our journey</h1>
                <p>Hello! We are Gina and Mey, the two owners of this family ran business. We two very passionate people who want to share a little bit of our culture through the thing we know best!</p>
            </div>
        </div>
    </div>

</div>
</br>

<div class="contactcontainer" >
    
    <div class="contact-box">
        <form action="https://formspree.io/f/xknlpgyw" method="POST">
            <h2 style="font-family: Impact, Arial">Leave us a message!</h2>
            <input type="text" name="name" class="field" placeholder="Your fullname" autocomplete="off" required/>
            <input type="email" name="email" class="field" placeholder="Your email" autocomplete="off" required />
            <input type="text" name="phone" class="field" placeholder="Your phone number" autocomplete="off" required />
            <textarea type="text" name="message" class="field area" placeholder="Message" autocomplete="off" required></textarea>
            <button type="submit" class="btn">Submit</button>
        
        </form>
    </div>
</div>
</body>


