
@{
    ViewData["Title"] = "contact us";
}
<link rel="stylesheet" type="text/css" href="~/css/site.css" />


<div class="contactcontainer">
    <div class="contact-box">

           <h2>contact us here!</h2>
            <input type="text" class="field" placeholder="your name" />
            <input type="email" class="field" placeholder="your email" />
            <input type="text" class="field" placeholder="your phone number" />
            <textarea class="field area" placeholder="message"></textarea>
            <button class="btn">submit</button>
     
    </div>
</div>