@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-image: url(https://media.istockphoto.com/id/1028123408/photo/pho-bo-vietnamese-soup-with-beef-in-bowl.jpg?s=612x612&w=0&k=20&c=VfR9DO6T3Gi3voStHvlY5NYDyFo7X4bX2Lbbzse2T24=);
        background-repeat:no-repeat; 
        background-attachment: fixed;
        background-size:cover;
    }
</style>

<div class="text-center">
    <p style="text-align: left" class="display-4">welcome to our shoooop!</p>
</div>

