@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">

    <p style="text-align: left" class="display-4">welcome to our shoooop!</p>
    <img src="https://thumbs.dreamstime.com/b/assorted-asian-dinner-vietnamese-food-pho-ga-pho-bo-noodles-spring-rolls-top-view-assorted-asian-dinner-vietnamese-food-pho-ga-pho-121075333.jpg" >
</div>

