@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="StyleSheet.css" />
</head>

<body>
    <section aria-label="Newest photos">
        <div class="carousel">
            <button class="carousel-button-prev">&#8249;</button>
            <button class="carousel-button-next">&#8250;</button>
        <ul>
            <li class="slide">
                <img src="https://images.unsplash.com/photo-1625707297284-f7d1c84037ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=808&q=80" alt="Rice paper rolls" />
            </li>
            <li class="slide">
                <img src="https://images.unsplash.com/photo-1594020292985-216a72a2c7ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=881&q=80" alt="Summer rolls" />
            </li>
            <li class="slide">
                <img src="https://images.unsplash.com/photo-1590420882553-4f9150b71f92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=865&q=80" alt="B" />
            </li>
            </ul>
        </div>
    </section>
</body>

<div class="text-center">

    <p style="text-align: left" class="display-4">welcome to our shoooop!</p>
    <img src="https://thumbs.dreamstime.com/b/assorted-asian-dinner-vietnamese-food-pho-ga-pho-bo-noodles-spring-rolls-top-view-assorted-asian-dinner-vietnamese-food-pho-ga-pho-121075333.jpg" >
</div>

