@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" /> 
    <script src="~/js/site.js" defer></script>
</head>

<body style="background-color: #f2e3b4; font-family: Verdana;">

    <section aria-label="Newest photos">
        <div class="carousel" data-carousel>
            <button class="carousel-button-prev" data-carousel-button="prev">&#60;</button>
            <button class="carousel-button-next" data-carousel-button="next">&#62;</button>
            <ul data-slides>
                <li class="slide" data-active>
                    <img src="~/lib/pictures/summer rolls.png" alt="Summer rolls"/>
                </li>
                <li class="slide">
                    <img src="~/lib/pictures/food.png"
                         alt="Food" />
                </li>
                <li class="slide">
                    <img src="~/lib/pictures/women chopping.png"
                         alt="Women chopping" />
                </li>
                <li class="slide">
                    <img src="~/lib/pictures/to-uyen-amujmpfcfyq-unsplash.jpg" 
                         alt="Rice paper rolls" />
                </li>
                <li class="slide">
                    <img src="~/lib/pictures/alexander-sinn-amgwrn5r3h8-unsplash.jpg"
                         alt="Summer rolls" />
                </li>
                <li class="slide">
                    <img src="https://images.unsplash.com/photo-1590420882553-4f9150b71f92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=865&q=80"
                         alt="Bowl of pho" />
                </li>
            </ul>
         

        </div>
        </section>


   
</body>



