@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" /> 
    <script src="~/js/site.js" defer></script>
</head>

<body>
  
    <section aria-label="Newest photos">
        <div class="carousel" data-carousel>
            <button class="carousel-button-prev" data-carousel-button="prev">&#60;</button>
            <button class="carousel-button-next" data-carousel-button="next">&#62;</button>
            <ul data-slides>
                <li class="slide" data-active>
                    <img src="~/lib/pictures/summer rolls.png" alt="Summer rolls"/>
                </li>
                <li class="slide">
                    <img src="~/lib/pictures/food.png"
                         alt="Food" />
                </li>
                <li class="slide">
                    <img src="~/lib/pictures/women chopping.png"
                         alt="Women chopping" />
                </li>
                <li class="slide">
                    <img src="https://images.unsplash.com/photo-1625707297284-f7d1c84037ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=808&q=80"
                         alt="Rice paper rolls" />
                </li>
                <li class="slide">
                    <img src="https://images.unsplash.com/photo-1594020292985-216a72a2c7ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=881&q=80"
                         alt="Summer rolls" />
                </li>
                <li class="slide">
                    <img src="https://images.unsplash.com/photo-1590420882553-4f9150b71f92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=865&q=80"
                         alt="Bowl of pho" />
                </li>
            </ul>
            <!-- radio buttons start-->
            <input type="radio" name="radio-btn" id="radio1" />
            <input type="radio" name="radio-btn" id="radio2" />
            <input type="radio" name="radio-btn" id="radio3" />
            <input type="radio" name="radio-btn" id="radio4" />
            <input type="radio" name="radio-btn" id="radio5" />
            <!-- radio buttons end-->
        
            <!--auto mav start-->
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
                <div class="auto-btn5"></div>
            </div>
            <!--auto mav end-->
            
            <!--manual nav start-->
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
                <label for="radio5" class="manual-btn"></label>
            </div>
            <!--manual nav end-->

        </div>
        </section>
   

   
</body>



