
@{
    ViewData["Title"] = "our menu";
}
 <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<!--start of menu-->
<section class="menu" id="menu">
    <div class="heading">

        <h1>fresh food for at a great price!</h1><br/>
    </div>


    <style>
        .rounded-image {
            border-radius: 40px; 
        }
    </style>

    <img src="~/lib/pictures/salad.jpg" alt="prawn salad" class="rounded-image" width="100%" height="50%" />

   

    <div class="menu-container">
        <div class="category">
        <h3 class="category-heading"> Banh mi </h3>
        <div class="box">
                 <div class="box-img">
            <img src="~/lib/pictures/image[3].jpeg" width="300px" height="300px" alt="Beef banh mi" class="image"/>
            <div class="overlay">
                <div class="text">+</div>
            </div>
        </div>
        <h3>Beef banh mi roll</h3>
        <span>$10.90</span>
           
            <!--change icon on boxicon so it actually works-->
            <box-icon name='cart-alt'></box-icon>
        </div>

        <div class="box">
            <div class="box-img">
                <img src="~/lib/pictures/chicken banh mi.jpeg" width="300px" height="300px" alt="chicken banh mi" class="image" />
                <div class="overlay">
                    <div class="text">+</div>
                </div>
            </div>
            <h3>Chicken banh mi roll</h3>
            <span>$10.90</span>

            <!--change icon on boxicon so it actually works-->
            <box-icon name='cart-alt'></box-icon>
        </div>

        <div class="box">
            <div class="box-img">
                <img src="~/lib/pictures/image[4].jpeg" width="300px" height="300px" alt="Pork banh mi" class="image" />
                <div class="overlay">
                    <div class="text">+</div>
                </div>
            </div>
            <h3>Pork banh mi roll</h3>
            <span>$10.90</span>

            <!--change icon on boxicon so it actually works-->
            <box-icon name='cart-alt'></box-icon>
        </div>

          <div class="box">
            <div class="box-img">
               <img src="~/lib/pictures/image[2].jpeg" width="300px" height="300px"/>
                <div class="overlay">
                    <div class="text">+</div>
                </div>
            </div>
            <h3>Choose 2 halves </h3>
            <span>$10.90</span>
                <div>
                    <label>
                        <input type="checkbox" name="Pork" value="Option 1" />
                        Pork
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="CHicken" value="Option 2" />
                        Chicken
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="Beef" value="Option 2" />
                        Beef
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="Tofu" value="Option 2" />
                        Tofu
                    </label>
                </div>
            <!--change icon on boxicon so it actually works-->
            <box-icon name='cart-alt'></box-icon>
            <
            </div>
        </div>

        <div class="category">
            <h3 class ="category-heading"> Summer rolls </h3>
            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image.jpeg" width="300px" height="300px" alt="Tofu summer rolls" class="image" />
                    <div class="overlay">
                        <div class="text">+</div>
                    </div>
                </div>
                <h3>Tofu summer rolls</h3>
                <span>$8.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[1].jpeg" width="300px" height="300px" alt="Beef summer rolls" class="image" />
                    <div class="overlay">
                        <div class="text">+</div>
                    </div>
                </div>
                <h3>Beef summer rolls</h3>
                <span>$8.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[11].jpeg" width="300px" height="300px" alt="Prawn summer rolls" class="image" />
                    <div class="overlay">
                        <div class="text">+</div>
                    </div>
                </div>
                <h3>Prawn summer rolls</h3>
                <span>$8.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[12].jpeg" width="300px" height="300px" alt="Chicken summer rolls" class="image" />
                    <div class="overlay">
                        <div class="text">+</div>
                    </div>
                </div>
                <h3>Chicken summer rolls</h3>
                <span>$8.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[13].jpeg" width="300px" height="300px" alt="Chicken and avocado  summer rolls" class="image" />
                    <div class="overlay">
                        <div class="text">+</div>
                    </div>
                </div>
                <h3>Chicken avo summer roll</h3>
                <span>$8.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

           <div class="box">
               <div class="box-img">
                   <img src="~/lib/pictures/image[14].jpeg" width="300px" height="300px" alt="Pork summer rolls" class="image" />
                   <div class="overlay">
                       <div class="text">+</div>
                   </div>
               </div>
            <h3>Pork summer rolls</h3>
            <span>$8.90</span>

            <!--change icon on boxicon so it actually works-->
            <box-icon name='cart-alt'></box-icon>
           </div>

         </div>

        <div class="category">
            <h3 class="category-heading"> Vermicelli salad </h3>
            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[8].jpeg"  width="300px" height="300px" alt="beef noodle salad" class="image" />
                    <div class="overlay">
                        <div class="text">+</div>
                    </div>
                </div>
                <h3>Beef vermicelli salad</h3>
                <span>$14.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[6].jpeg" width="300px" height="300px" alt="chicken noodle salad" class="image" />
                    <div class="overlay">
                        <div class="text">+</div>
                    </div>
                </div>
                <h3>Chicken vermicelli salad</h3>
                <span>$14.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>
          
        </div>

        <div class="category">
            <h3 class="category-heading"> Sago desserts </h3>
            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[10].jpeg" width="300px" height="300px" alt="Mango pudding dessert" class="image" />
                    <div class="overlay">
                        <div class="text">+</div>
                    </div>
                </div>
                <h3>Mango sago</h3>
                <span>$6.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[15].jpeg" width="300px" height="300px" alt="Strawberry pudding dessert" class="image" />
                    <div class="overlay">
                        <div class="text">+</div>
                    </div>
                </div>
                <h3>Strawberry dessert</h3>
                <span>$6.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[7].jpeg" width="300px" height="300px" alt="banana pudding dessert" class="image" />
                    <div class="overlay">
                        <div class="text">+</div>
                    </div>
                </div>
                <h3>banana sago</h3>
                <span>$6.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[9].jpeg" width="300px" height="300px" alt="Blueberry pudding dessert" />
                    <div class="overlay">
                        <div class="text">+</div>
                    </div>
                </div>
                <h3>Blueberry sago </h3>
                <span>$6.90</span>
                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>
        </div>


     </div>

     

         
    
</section>
