
@{
    ViewData["Title"] = "our menu";
}
 <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<body style="background-color:#f1e4bcff;">
<!--start of menu-->
<section class="menu" id="menu">
    <div class="menu-heading">

            <h1 style="font-family: Impact,Arial; text-decoration:underline;">FRESH FOOD AT A GREAT PRICE!</h1><br />
    </div>
       <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#Banhmi">- Banh mi</a><br />
            <a href="#Summerroll">- Summer roll</a><br />
            <a href="#Vermicellisalad">- Vermicelli salad</a><br />
            <a href="#Sago">- Sago</a>
        </div>

        <button class="openbtn" onclick="openNav()">&#9776; Category</button>
        
   <!--<div style="position:absolute; left:1%">
        <a class="menu-button" href="#Banhmi">Banh mi</a><br />
        <a class="menu-button" href="#Summerroll">Summer roll</a><br />
        <a class="menu-button" href="#Vermicellisalad">Vermicelli salad</a><br />
        <a class="menu-button" href="#Sago">Sago</a>
         </div>-->

    <style>
        .rounded-image {
            border-radius: 40px; 
            margin-top: 20px;
        }
    </style>

    <img src="~/lib/pictures/salad.jpg" alt="prawn salad" class="rounded-image" width="100%" height="50%" />

   

    <div class="menu-container">
        <div class="category">
            <h3 class="category-heading" id="Banhmi" style="font-family: Verdana,Arial;"><strong>Banh mi</strong></h3>
        <div class="box">
                 <div class="box-img">

            <img src="~/lib/pictures/image[3].jpeg" width="300px" height="300px" alt="Beef banh mi" class="image"/>
            
                 </div>
        <h3>Beef banh mi roll</h3>
        <span>$10.90</span>
           
            <!--change icon on boxicon so it actually works-->
            <box-icon name='cart-alt'></box-icon>
        </div>

        <div class="box">
            <div class="box-img">
                <img src="~/lib/pictures/chicken banh mi.jpeg" width="300px" height="300px" alt="chicken banh mi" class="image" />
                
            </div>
            <h3>Chicken banh mi roll</h3>
            <span>$10.90</span>

            <!--change icon on boxicon so it actually works-->
            <box-icon name='cart-alt'></box-icon>
        </div>

        <div class="box">
            <div class="box-img">
                <img src="~/lib/pictures/image[4].jpeg" width="300px" height="300px" alt="Pork banh mi" class="image" />
               
            </div>
            <h3>Pork banh mi roll</h3>
            <span>$10.90</span>

            <!--change icon on boxicon so it actually works-->
            <box-icon name='cart-alt'></box-icon>
        </div>

          <div class="box">
            <div class="box-img">
                        <img src="~/lib/pictures/image[2].jpeg" width="300px" height="300px" style="border-radius:50%;" />
               
            </div>
            <h3>Choose 2 halves</h3>
                <span>$10.90</span>
                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
                <div class="dropdown">
                    <button class="dropdown-toggle">
                        <span>Select options</span>
                        <i class="dropdown-arrow"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><input type="checkbox" name="option1" value="Option 1" />Beef</li>
                        <li><input type="checkbox" name="option2" value="Option 2" />Chicken</li>
                        <li><input type="checkbox" name="option3" value="Option 3" />Pork</li>
                        <li><input type="checkbox" name="option3" value="Option 3" />Tofu</li>
                    </ul>
                </div>

          </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/half banh mi.jpg" width="300px" height="300px" style="border-radius:50%;" />
                   
                </div>
                <h3>Choose 1 half</h3>
                <span>$5.90</span>
                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
                <div class="dropdown">
                    <button class="dropdown-toggle">
                        <span>Select options</span>
                        <i class="dropdown-arrow"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><input type="checkbox" name="option1" value="Option 1" />Beef</li>
                        <li><input type="checkbox" name="option2" value="Option 2" />Chicken</li>
                        <li><input type="checkbox" name="option3" value="Option 3" />Pork</li>
                        <li><input type="checkbox" name="option3" value="Option 3" />Tofu</li>
                    </ul>
                </div>

            </div>
            
            
          <div>
        </div>
        </div>

        <div class="category">
            <h3 class="category-heading" id="Summerroll" style="font-family: Verdana,Arial;"><strong>Summer rolls</strong> </h3>
            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image.jpeg" width="300px" height="300px" alt="Tofu summer rolls" class="image" />
                    
                </div>
                <h3>Tofu summer rolls</h3>
                <span>$8.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[1].jpeg" width="300px" height="300px" alt="Beef summer rolls" class="image" />
                    
                </div>
                <h3>Beef summer rolls</h3>
                <span>$8.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[11].jpeg" width="300px" height="300px" alt="Prawn summer rolls" class="image" />
                    
                </div>
                <h3>Prawn summer rolls</h3>
                <span>$8.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[12].jpeg" width="300px" height="300px" alt="Chicken summer rolls" class="image" />
                   
                </div>
                <h3>Chicken summer rolls</h3>
                <span>$8.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[13].jpeg" width="300px" height="300px" alt="Chicken and avocado  summer rolls" class="image" />
                   
                </div>
                <h3>Chicken avo summer roll</h3>
                <span>$8.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

           <div class="box">
               <div class="box-img">
                   <img src="~/lib/pictures/image[14].jpeg" width="300px" height="300px" alt="Pork summer rolls" class="image" />
                 
               </div>
            <h3>Pork summer rolls</h3>
            <span>$8.90</span>

            <!--change icon on boxicon so it actually works-->
            <box-icon name='cart-alt'></box-icon>
           </div>

         </div>

        <div class="category">
            <h3 class="category-heading" id="Vermicellisalad" style="font-family: Verdana,Arial;"><strong>Vermicelli salad</strong> </h3>
            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[8].jpeg"  width="300px" height="300px" alt="beef noodle salad" class="image" />
                   
                </div>
                <h3>Beef vermicelli salad</h3>
                <span>$14.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[6].jpeg" width="300px" height="300px" alt="chicken noodle salad" class="image" />
                    
                </div>
                <h3>Chicken vermicelli salad</h3>
                <span>$14.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>
          
        </div>

        <div class="category">
            <h3 class="category-heading" id="Sago" style="font-family: Verdana,Arial;"><strong>Sago desserts</strong> </h3>
            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[10].jpeg" width="300px" height="300px" alt="Mango pudding dessert" class="image" />
                   
                </div>
                <h3>Mango sago</h3>
                <span>$6.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[15].jpeg" width="300px" height="300px" alt="Strawberry pudding dessert" class="image" />
                    
                </div>
                <h3>Strawberry dessert</h3>
                <span>$6.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="~/lib/pictures/image[7].jpeg" width="300px" height="300px" alt="banana pudding dessert" class="image" />
                    
                </div>
                <h3>banana sago</h3>
                <span>$6.90</span>

                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>

            <div class="box">
                <div class="box-img">
                        <img src="~/lib/pictures/image[9].jpeg" width="300px" height="300px" alt="Blueberry pudding dessert" style="border-radius:50%;" />
                   
                </div>
                <h3>Blueberry sago </h3>
                <span>$6.90</span>
                <!--change icon on boxicon so it actually works-->
                <box-icon name='cart-alt'></box-icon>
            </div>
        </div>


        </div>
    </section>
</body>
     

         
    

