
@{
    ViewData["Title"] = "Order";
}

<h1>Order from us here on:</h1>

<a href="https://www.ubereats.com/nz/store/rolls-of-vietnam/EQoGBnCcXfibzqVfdWh2ew" target="_blank"><img src="https://cdn.lovesavingsgroup.com/logos/ubereats.png"
         alt="uber eats logo" style="width:300px;height:300px;float:left;" />
</a>

<a href="https://www.menulog.co.nz/restaurants-rolls-of-vietnam-auckland/menu" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDmxJcyVODRV8-J0ZDjgOKR0EV1gf9vNFFocB9ntGWwrvO3aGr9UcH8KGitjHDciWyS_k&usqp=CAU" 
    alt="menulog logo" style="width:300px;height:300px;float:right;border-style:solid;border-color:orange;"/>
</a>