html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


    *::before, *::after {
        box-sizing: border-box;
    }

body {
    margin: 0;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide {
    position:absolute;
    inset: 0;
    opacity: 0;
}
.slide[data-active] {
    opacity: 1;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

