html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/* carousel */
    *::before, *::after {
        box-sizing: border-box;
    }

body {
    margin: 0px ;
}

.carousel {
    width: 90vw;
    height: 90vh;
    position: absolute;
    max-height: 80%;
    left: 0px; 
    top: 56px;
}

.carousel>ul{
    margin:0;
    padding:0;
    list-style:none;
}


.slide {
    position:absolute;
    inset: 0;
    opacity: 0;
}

.slide > img {
    display: block;
    width: 120%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.slide[data-active] {
    opacity: 1;
}

.carousel-button-prev {
    position: absolute;
    z-index: 4;
    background: none;
    border: none;
    font-size: 3rem; 
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0. 5rem;
    background-color: rgba(0,0,0,.2);
   
    }

.carousel-button-next {
    position: absolute;
    z-index: 4;
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0 .5rem;
    background-color: rgba(0,0,0,.2);
}

    .carousel-button-prev:hover,
    .carousel-button-prev:focus {
        color: white;
        background-color: rgba(0,0,0.1);
    }

.carousel-button-next:hover,
.carousel-button-next:focus {
    color: white;
    background-color: rgba(0,0,0.2);
}

.carousel-button-prev:focus {
    outline: 1px solid black;
}

.carousel-button-next:focus {
    outline: 1px solid black;
}

/* positioning of buttons */
.carousel-button-prev {
    left: 1rem;
}

.carousel-button-next {
    right: -10% ;
}
/* end of carousel */


/* nav bar */
.topnav {
    background-color: #333;
    overflow: hidden;
}

.navbar-brand {
    text-decoration: none;
    font-weight: 650;
    text-transform: uppercase;
}

header ul
{
    position: relative;
    gap: 5px;
}

    header ul li a::before 
    {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 2%;
        height: 2px;
        background: white;
        transform: scaleX(0);
        transition: transform 0.7s ease-in-out;
        transform-origin: right;
    }

    
header ul li a:hover::before
{
    transform: scaleX(1);
    transform-origin: left;
}
/* end of nav bar */

