html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

table.table{
    border-color: black;
}

/* carousel */

    *::before, *::after {
        box-sizing: border-box;
    }

body {
    margin: 0px;
  
}

.carousel {
    width: 83.35vw;
    height: 90vh;
    position: absolute;
    max-height: 80%;
    left: 0px; 
    top: 56px;
  
}

.carousel>ul{
    margin:0;
    padding:0;
    list-style:none;
}


.slide {
    position:absolute;
    inset: 0;
    opacity: 0;
}

.slide > img {
    display: block;
    width: 120%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.slide[data-active] {
    opacity: 1;
}

.carousel-button-prev {
    position: absolute;
    z-index: 4;
    background: none;
    border: none;
    font-size: 3rem; 
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.1rem;
    background-color: rgba(0,0,0,.2);
   
    }

.carousel-button-next {
    position: absolute;
    z-index: 4;
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.1rem;
    background-color: rgba(0,0,0,.2);
}

.carousel-button-prev:hover,
.carousel-button-prev:focus {
    color: white;
    background-color: #1a1a1a;
    opacity: 85%;
}

.carousel-button-next:hover,
.carousel-button-next:focus {
    color: white;
    background-color: #1a1a1a;
    opacity: 85%; 
}

.carousel-button-prev:focus {
    outline: 1px solid black;
}

.carousel-button-next:focus {
    outline: 1px solid black;
}

/* positioning of buttons */
.carousel-button-prev {
    left: 1rem;
}

.carousel-button-next {
    right: -18.5% ;
}
/* end of carousel */




/* nav bar */
.topnav {
    background-color: #333;
    overflow: hidden;
}

.navbar-brand {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

header ul
{
    position: relative;
    gap: 5px;
}

    header ul li a::before 
    {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 2%;
        height: 2px;
        background: white;
        transform: scaleX(0);
        transition: transform 0.7s ease-in-out;
        transform-origin: right;
    }

    
header ul li a:hover::before
{
    transform: scaleX(1);
    transform-origin: left;
}
/* end of nav bar */


/* feedback form */
.contactcontainer{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    margin-block: 100px;
    margin-bottom: 200px;
}

    .contactcontainer:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('../lib/pictures/pho-6760890_1280.jpg');
        filter: blur(2px)
    }

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

h2:after{
    content: '';
    position:absolute;
    left:50%;
    bottom:0;
    transform: translateX(-50%);
    height:4px;
    width: 80px;
    border-radius: 2px;
    background-color:#2ecc71; 
     
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline:none;
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: white; 
    font-size:1.1rem;
    margin-bottom: 22px;
    transition: .3s;

}

.field:hover{
    background-color: rgba(255, 255, 255, .5);
}

.field:focus{
    background-color: #fff;
    border: 2px solid black;
}

.area{
    min-height: 150px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71; 
    cursor:pointer;
    outline: none;
    border: none;
    transition: .3s;
    color:#fff;
}

.btn:hover{
    background-color: #27ae60;
}

@media screen and (max-width:880px){
    .contact-box{
        grid-template-columns:1fr;
    }
}
/* end of feedback form*/


/* map */

.map {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
    position:relative;
    margin-bottom: 100px;
}

iframe {
    width: 90%;
    height: 600px;
    padding: 30px;
   
}


/* logo */

.logo {
    width: 750px;
    height: 750px;
}
   
/* menu page */
.menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #198754;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
}

    .menu-button:hover {
        opacity: 75%;
        color: #ffffff;
    }

.menu-heading{
    text-align: center;
}


.menu-heading h1{
    font-size: 40px;
    text-align: center;
    
}

.menu-container {
    display: relative;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    grid-gap: 6rem;
    margin-bottom: 100px;
    background-color: #f1e4bcff;
}

.category-heading {
    margin-top: 3rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
}

.category {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 3rem;
    justify-content: center;
}

.box {
    position: relative;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1e4bcff;
}

.box-img {
    position: relative;
    color: #f1e4bcff;

}

.image {
    display: block;
    width: 300px;
    height: auto;
    border-radius: 50%;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: lightgray;
    border-radius: 600px;
}

.box-img:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*dropdown box for banh mi options*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
    margin-top: 5px;
}

    .dropdown-menu.show {
        display: block;
    }

/* about us cards */

.flip-cards {
    text-align: center;
    background-color: #f1e4bcff;
}

.card-container {
    width: 350px;
    height: 500px;
    perspective: 1500px;
    display: inline-block;
    margin-right: 30px;
    color: #f1e4bcff;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1750ms;
    transform-style: preserve-3d;
    color: #f1e4bcff;
    background-color: #f1e4bcff;
}
   

.card-container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-image: url('../lib/pictures/capture.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 500px;
}
.front2,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}
.front2 {
    background-image: url('../lib/pictures/aim.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 500px;
}
.front3,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front3 {
    background-image: url('../lib/pictures/journ.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 500px;
}

.back {
    background-color: #198754;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Order page*/


.right-container {

    position:absolute;
    right: 18%;
    top: 240px;
}

.image-container {
    text-align: right;
    right: 35%;
}

    .image-container img {
        width: 200px;
        height: 200px;
        border-radius:10px;

    }

.left-container {
    display: flex;
    flex-direction: column;

}

.form-container {
    padding: 20px;
}

.form-group{
    width:100%;
}

/*Footer*/

.footer {
    position: absolute;
    width: 100%;
    height: 129px;
    
}


.fa {
    padding: 30px;
    font-size: 70px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background-color: #f1e4bcff;
}

.footer-content {
    display: flex;
    align-items: center;
}

.contact-info {
    flex: 1;
}

.business-hours {
    flex: 1;
}


.navbar {
    background-color: #3c763d;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.custom-button {
    background-color: lightgrey;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

    .custom-button:hover {
        background-color: #3c763d;
        color: lightgrey;
    }






.sidepanel {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 70px;
    left: 0;
    background-color: #3c763d; 
    overflow-x: hidden; 
    padding-top: 70px; 
    transition: 0.5s;
}


    .sidepanel a {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 20px 8px 8px 32px;
        text-decoration: none;
        font-size: 26px;
        color: #f1e4bcff;
        display: block;
        transition: 0.3s;
    }

        .sidepanel a:hover {
            color: white;
        }
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 30px;
        margin-left: 50px;
    }
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #3c763d;
    color: white;
    padding: 10px 15px 10px;
    border: none;
    border-radius: 10px; 
}

    .openbtn:hover {
        background-color: lightgrey;
    }