@model kelly.Models.OrderDetails

@{
    ViewData["Title"] = "Create";
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}
<body style="background-color: #f1e4bcff;">
<h1>Add items to your order</h1>

<h4>Order Details</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="padding-top: 20px;" class="form-group">
                <label asp-for="OrdersID" class="control-label"></label>
                <select asp-for="OrdersID" class ="form-control" asp-items="ViewBag.OrdersID"></select>
            </div>
                <div style="padding-top: 20px;" class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <select asp-for="ProductID" class ="form-control" asp-items="ViewBag.ProductID"></select>
            </div>
                <div style="padding-top: 20px;" class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
                <div style="padding-top: 20px;" class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
                <div style="padding-top: 20px;" class="form-group">
                    <input style="background-color:#3c763d;" type="submit" value="Create" class="btn btn-primary" />
            </div>
            </form>
            <div style="padding-top:20px;">
                <a class="custom-button" asp-action="Index">Back to List</a>
            </div>
        </div>
        
    <div style="display: flex; padding-left:10%; height: 550px; width: 400px;">
            <img src="~/lib/pictures/id list.png" />
    </div>
</div>

    
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
